body,html,div,p,ul,li,ol,dl,dt,dd,img,a,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;font-family:"Microsoft YaHei";}
ul,li,dl,dt,dd{list-style: none;}
a{text-decoration: none;outline: none;color: #333;}
a:hover,a:focus{text-decoration: none;outline: none;border:none;}
a:visited {text-decoration: none;}
img{border:0;}
input,textarea{font-family: "Microsoft YaHei";font-size: 14px;color: #666}
input:focus, input:active:focus{outline: none}
i,em{font-style: normal}
.clear:after{display: block;content: '';clear: both;overflow: hidden;  }
.clear{zoom:1}
.noPadding{padding: 0!important;}


.wrap{width: 1200px;margin: 0 auto;}
.pullRight{float: right;}
.pullLeft{float: left}
.hide{display: none;}
.viceCr{color: #6eb92a;}
.themeCr{color: #fc6b00;}

.themeBtn{display: inline-block;width: 103px;height: 40px;line-height: 40px;text-align: center;font-size: 14px;border:1px solid #fc6b00;
	border-radius: 3px;color: #fc6b00;}
.themeBtn:hover{border:1px solid #fc6b00;color: #fc6b00;}
.themeCr{color: #fc6b00;}

.themeBgBtn{display: inline-block;width: 103px;height: 40px;text-align: center;font-size: 14px;
	border-radius: 3px;color: #fff;background: #fc6b00;border:none;margin-top: 20px;cursor: pointer;}
.themeBgBtn:hover{color: #fff;background: #ff7916;}

a.themeBgBtn,span.themeBgBtn{line-height: 40px;}
span.themeBgBtn{cursor: default;}
/*翻页*/
.page{font-size: 12px;margin-bottom: 30px;overflow: hidden;margin-top: 25px;}
.page a{color: #777777;display: inline-block;padding: 5px 9px;border: 1px solid #dddddd;float: left;border-left: 0}
.page a:hover,.page a:focus{background: #f4f4f4;color: #777777;}
.page .previous a{border-left: 1px solid #ddd;border-bottom-left-radius: 3px;border-top-left-radius: 3px;}
.page .next a{border-bottom-right-radius: 3px;border-top-right-radius: 3px;}
.page a:visited{color: #777777;}
.page a.active{background: #f4f4f4}

/*uploadBtn*/
#upload{position: relative;}
.uploadBtn{background: #06b4f0;border:1px solid #00a0d7;line-height: 38px;display: inline-block;padding: 0 10px;
	color: #fff;border-radius: 3px;}
#upload input{position: absolute;left: 0;top: 0;opacity: 0;filter: alpha(opacity=0);}

/*表单下拉框*/
.styled-select select {background: transparent;width: 295px;padding: 5px;font-size: 14px;line-height: 25px;
	border: none;height: 34px;-webkit-appearance: none; /*for chrome*/}
.styled-select { width: 261px; height: 34px;overflow: hidden;background: url(../img/selectBg.png) no-repeat 95% #fff;font-size: 14px;
	border: 1px solid #dcdcdc;border-radius: 3px;display: inline-block;vertical-align: middle;margin-right: 15px;margin-bottom: 10px;}
.maxSelect select{width: 105%;}
.maxSelect{width: 45%}
.styled-select select:disabled{background: #eee}





















